
*{
    margin: 0;
    font-family: 'Cinzel', serif;

}
body{
    background-color: #0f172a;
     margin: 0;
    padding: 0;
}

nav{
    
    position: sticky;
    top: 25px;
    margin-right: 40px;

    margin-left: 40px;
    z-index: 10;
    overflow: scroll;

}
nav .main_opt{
    display: flex;


    justify-content: space-between;
        background: rgba(0, 0, 0, 0.55); /* glass black */
    backdrop-filter: blur(6px);
    border-radius: 12px;
}

nav div {

    padding-right: 2vw;
    padding-left: 2vw;

    align-content: center;

}
nav a{
    text-decoration: none;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8); 
}
nav a:hover{
    color: #ff3b3b;
}






.slide{


     margin-top: 10vh;
    display: grid;
    grid-template-columns: 40vw 60vw;
    width: 100vw;
    height: 60vh;
    color: white;
}
.content{
    position: relative;
    width: 40vw;
    height: 100%;
    align-content: center;
    justify-items: center;
}
.pic{

   width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
#one{
    background-image: url("../src/season1.jpg");
}
#two{
    background-image: url("../src/season2.jpg");
}
#three{
    background-image: url("../src/season3.jpg");
}
#four{
    background-image: url("../src/season4.jpg");
}

button{
    position: absolute;

}
.left{
    top: 30vh;
    z-index: 10;
    left: 1vw;
}
.right{
    top: 30vh;
    left: 97vw;
    z-index: 10;
}